.header-container{
  height: 150px;
 
}

.navbar{
    display: flex;
}

#nav-img {
    display: inline-block;
}

#nav-img img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

#nav-title h1{
    display: inline-block;
    position: relative;
    top: 1px;
    right: 840px;
    letter-spacing: 1px;
}


.nav-links{
    display: inline-block;
    position: relative;
    left: 800px;
    bottom: 100px;
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.nav-links .home-btn{
  font-size: 16px;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 20px;
  background-color: blueviolet;
  color: white;
  border-radius: 20px;
  color: white;
  padding: 10px 16px;

}

.nav-links .home-btn:hover{
  background-color: rgb(150, 81, 214);
}

.white_btn{
  padding: 10px 16px;
  outline: none;
  border: 1px solid lightgray;
  background-color: red;
  color: white;
  font-size: 20px;
  border-radius: 20px;
}

.white_btn:hover{
  background-color: crimson;
}


 /* Basic CSS for the dropdown */
 .dropdown {
    position: relative;
    display: inline-block;
  }

  .admin-btn, .volunteer-btn{
    border-radius: 20px;
    color: white;
    background-color: blueviolet;
    font-size: 20px;
  
  }

  .admin-btn:hover, .volunteer-btn:hover{
    background-color: rgb(150, 81, 214);
  }

  .dropdown-select {
    padding: 10px 16px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1;
  }

  .dropdown-options a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
  }

  .dropdown-options a:hover {
    background-color: #ddd;
  }