.header-container{
  height: 150px;
}

navbar{
    display: flex;
    position: absolute;
}

#nav-img {
    display: inline-block;
}

#nav-img img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

#nav-title h1{
    display: inline-block;
    position: relative;
    top: 43px;
    letter-spacing: 1px;
}

.nav-links{
    display: inline-block;
    position: relative;
    left: 700px;
    top: 40px;
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.nav-links .home-btn{
  width: 90px;
  height: 44px;
  font-size: 16px;
  border: 1px solid lightgray;
  outline: none;
}


 /* Basic CSS for the dropdown */
 .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-select {
    padding: 8px 16px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1;
  }

  .dropdown-options a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
  }

  .dropdown-options a:hover {
    background-color: #ddd;
  }